@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-gold: oklch(92.79% 0.1967 110.93);
  /* Spacing */
  /* --spacing-8: clamp(0.25rem, 0.313vw + 0.188rem, 0.5rem);
  --spacing-16: clamp(0.5rem, 0.625vw + 0.375rem, 1rem);
  --spacing-24: clamp(0.75rem, 0.938vw + 0.563rem, 1.5rem);
  --spacing-32: clamp(1rem, 1.25vw + 0.75rem, 2rem);
  --spacing-40: clamp(1.25rem, 1.563vw + 0.938rem, 2.5rem);
  --spacing-48: clamp(1.5rem, 1.875vw + 1.125rem, 3rem);
  --spacing-56: clamp(1.75rem, 2.188vw + 1.313rem, 3.5rem);
  --spacing-64: clamp(2rem, 2.5vw + 1.5rem, 4rem);
  --spacing-72: clamp(2.25rem, 2.813vw + 1.688rem, 4.5rem);
  --spacing-80: clamp(2.5rem, 3.125vw + 1.875rem, 5rem);
  --spacing-88: clamp(2.75rem, 3.438vw + 2.063rem, 5.5rem);
  --spacing-96: clamp(3rem, 3.75vw + 2.25rem, 6rem); */
}



/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "cv01", "cv03", "cv04", "cv05",
    "cv06", "cv09", "cv11", "cv12", "cv13";
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Custom Styles */
.inner-container {
  @apply max-w-[1200px] mx-auto;
}

header section {
  @apply px-5;
}