{{ partial:components/section class="pt-12 pb-24" }}
    {{ partial:components/container class="grid sm:grid-cols-1 md:grid-cols-5 lg:grid-cols-12 gap-12 items-start" }}
        {{ collection:articles as="articles" }}
            {{ articles limit="1" }}
                {{ partial:components/article-card-featured }}
            {{ /articles }}
            {{ if no_results }}
                <div class="w-full">
                    <p class="text-gray-500">No articles available at the moment.</p>
                </div>
            {{ /if }}
        {{ /collection:articles }}

        <div class="md:col-span-2 lg:col-span-4 grid items-start">
            {{ collection:articles as="articles" limit="3" taxonomy:categories="travel" }}
                {{ articles }}
                    {{ partial:components/article-card-trending }}
                {{ /articles }}
                {{ if no_results }}
                    <div class="w-full">
                        <p class="text-gray-500">No articles available at the moment.</p>
                    </div>
                {{ /if }}
            {{ /collection:articles }}
        </div>
    {{ /partial:components/container }}
{{ /partial:components/section }}

{{ partial:components/section class="py-24 bg-zinc-900 text-zinc-50" }}
    {{ partial:components/container class="mb-10" }}
        <div>
            <h2 class="text-[56px] font-bold">Travel</h2>
        </div>
    {{ /partial:components/container }}
    {{ partial:components/container class="grid sm:grid-cols-1 md:grid-cols-4 gap-8 items-start" }}
        {{ collection:articles as="articles" taxonomy:categories="travel" }}
            {{ articles limit="3" }}
                {{ partial:components/article-card-category }}
            {{ /articles }}
            {{ if no_results }}
                <div class="w-full">
                    <p class="text-gray-500">No articles available at the moment.</p>
                </div>
            {{ /if }}
        {{ /collection:articles }}
    {{ /partial:components/container }}
{{ /partial:components/section }}

{{ partial:components/section class="py-24" }}
    {{ partial:components/container class="mb-10" }}
        <div>
            <h2 class="text-[56px] font-bold">Health</h2>
        </div>
    {{ /partial:components/container }}
    {{ partial:components/container class="grid sm:grid-cols-1 md:grid-cols-4 gap-8 items-start" }}
        {{ collection:articles as="articles" taxonomy:categories="travel" }}
            {{ articles limit="3" }}
                {{ partial:components/article-card-category }}
            {{ /articles }}
            {{ if no_results }}
                <div class="w-full">
                    <p class="text-gray-500">No articles available at the moment.</p>
                </div>
            {{ /if }}
        {{ /collection:articles }}
    {{ /partial:components/container }}
{{ /partial:components/section }}

{{ partial:components/section class="py-24 border-t border-zinc-900/15" }}
    {{ partial:components/container class="mb-10" }}
        <div>
            <h2 class="text-[56px] font-bold">Entertainment</h2>
        </div>
    {{ /partial:components/container }}
    {{ partial:components/container class="grid sm:grid-cols-1 md:grid-cols-4 gap-8 items-start" }}
        {{ collection:articles as="articles" taxonomy:categories="travel" }}
            {{ articles limit="3" }}
                {{ partial:components/article-card-category }}
            {{ /articles }}
            {{ if no_results }}
                <div class="w-full">
                    <p class="text-gray-500">No articles available at the moment.</p>
                </div>
            {{ /if }}
        {{ /collection:articles }}
    {{ /partial:components/container }}
{{ /partial:components/section }}

{{ partial:components/section class="py-24 border-t border-zinc-900/15" }}
    {{ partial:components/container class="mb-10" }}
        <div>
            <h2 class="text-[56px] font-bold">Politics</h2>
        </div>
    {{ /partial:components/container }}
    {{ partial:components/container class="grid sm:grid-cols-1 md:grid-cols-4 gap-8 items-start" }}
        {{ collection:articles as="articles" taxonomy:categories="travel" }}
            {{ articles limit="3" }}
                {{ partial:components/article-card-category }}
            {{ /articles }}
            {{ if no_results }}
                <div class="w-full">
                    <p class="text-gray-500">No articles available at the moment.</p>
                </div>
            {{ /if }}
        {{ /collection:articles }}
    {{ /partial:components/container }}
{{ /partial:components/section }}

{{ partial:components/section class="py-24 border-t border-zinc-900/15" }}
    {{ partial:components/container class="mb-10" }}
        <div>
            <h2 class="text-[56px] font-bold">More Articles</h2>
        </div>
    {{ /partial:components/container }}
    {{ partial:components/container class="grid sm:grid-cols-1 md:grid-cols-5 lg:grid-cols-12 gap-12 items-start" }}
        <div class="grid md:col-span-3 lg:col-span-8">
            {{ collection:articles as="articles" }}
                {{ articles }}
                    <article
                        class="grid grid-cols-5 gap-10 py-12 last:pb-0 first:border-t-0 first:pt-0 last:border-b-0 border-t border-zinc-900/15">
                        <div class="col-span-3 flex flex-col gap-2.5">
                            <time datetime="{{ date }}" class="uppercase text-xs">{{ date }}</time>
                            <h3 class="text-[18px] font-bold leading-[1.3] line-clamp-3">
                                <a wire:navigate href="{{ url }}">{{ title }}</a>
                            </h3>
                            {{ categories }}
                                {{ title }}
                            {{ /categories }}
                        </div>
                        <img src="{{ glide:image width="1000" height="580" }}" alt="{{ title }}"
                            class="w-full aspect-[4/2.75] object-cover col-span-2">
                    </article>
                {{ /articles }}
                {{ if no_results }}
                    <div class="w-full">
                        <p class="text-gray-500">No articles available at the moment.</p>
                    </div>
                {{ /if }}
            {{ /collection:articles }}
        </div>

        <aside class="md:col-span-2 lg:col-span-4 grid bg-amber-300">
            Sidebar
        </aside>
    {{ /partial:components/container }}
{{ /partial:components/section }}